.bottom-nav{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    background:white;
}

.bottom-nav-item a, a:hover, a:visited, a:link{
    color: black;
    text-decoration: none;
}

.bottom-nav-item{
    width: 33.3vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: 12px;
}

.bottom-nav-item > img{
    width: 26px;
    height: 26px;
    object-fit: cover;
}