.login{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 30%;
}

.login-title{
    width: 100%;
    text-align: center;
}

.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form label{
    position: relative;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-form label span{
    z-index: 10;
    padding: 5px;
    position: absolute;
}

.login-form label input{
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
    position: relative;
    text-align: center;
}

.login-submit{
    margin-top: 20px;
    width: 100%;
    border-radius: 0;
}

.form-bottom{
    width: 100%;
    padding: 5px;
    padding-left: 5%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.radio-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-between;
}

.radio-group .radio-title{
    margin: 10px 0 2px 0;
    padding: 10px;
    color: grey;
}

.radio-group .radio-item {
    width: 100%;
    padding: 10px;
    background-color: white;
    margin-bottom: 5px;
    outline: none;
    border: none;
}

.radio-group .radio-item[data-ischeck='true']::after{
    content: '✓';
    position: absolute;
    right: 10px;
    color: #108ee9;
}

.inputError{
    width: 100%;
    padding: 10px;
    color: red;
    text-align: center;
}

.registerError{
    width: 100%;
    padding: 10px 0 5px 10px;
    color: red;
}