.login{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 180px;
}

.login-title{
    width: 100%;
    text-align: center;
}

.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form label{
    position: relative;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-form label span{
    z-index: 10;
    padding: 5px;
    position: absolute;
}

.login-form label input{
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
    position: relative;
    text-align: center;
}

.login-submit{
    margin-top: 20px;
    width: 100%;
    border-radius: 0;
}

.form-bottom{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}